<table class="mdl-data-table mdl-js-data-table mdl-shadow--4dp">
	<thead class="mdl-data-table mdl-js-data-table">
		<tr>
			<th>Rank</th>
			<th class="mdl-data-table__cell--non-numeric">Team</th>
		</tr>
	</thead>
	<tbody>
	<tr>
		<td class="">1 (1)</td>
		<td class="mdl-data-table__cell--non-numeric">Golden State Warriors</td>
	</tr>
	<tr>
		<td class="">2 (2)</td>
		<td class="mdl-data-table__cell--non-numeric">San Antonio Spurs</td>
	</tr>
	<tr>
		<td class="">3 (3)</td>
		<td class="mdl-data-table__cell--non-numeric">Houston Rockets</td>
	</tr>
	<tr>
		<td class="">4 (4)</td>
		<td class="mdl-data-table__cell--non-numeric">Cleveland Cavaliers</td>
	</tr><tr>
		<td class="mdl-color--green-200">5 (11)</td>
		<td class="mdl-data-table__cell--non-numeric">Washington Wizards</td>
	</tr>
	<tr>
		<td class="mdl-color--green-200">6 (7)</td>
		<td class="mdl-data-table__cell--non-numeric">Boston Celtics</td>
	</tr><tr>
		<td class="mdl-color--green-200">7 (9)</td>
		<td class="mdl-data-table__cell--non-numeric">Oklahoma City Thunder</td>
	</tr>
	<tr>
		<td class="mdl-color--red-200">8 (5)</td>
		<td class="mdl-data-table__cell--non-numeric">Utah Jazz</td>
	</tr><tr>
		<td class="mdl-color--red-200">9 (6)</td>
		<td class="mdl-data-table__cell--non-numeric">Toronto Raptors</td>
	</tr>
	<tr>
		<td class="mdl-color--red-200">10 (8)</td>
		<td class="mdl-data-table__cell--non-numeric">LA Clippers</td>
	</tr><tr>
		<td class="mdl-color--green-200">11 (12)</td>
		<td class="mdl-data-table__cell--non-numeric">Memphis Grizzlies</td>
	</tr>
	<tr>
		<td class="mdl-color--green-200">12 (14)</td>
		<td class="mdl-data-table__cell--non-numeric">Indiana Pacers</td>
	</tr><tr>
		<td class="mdl-color--red-200">13 (10)</td>
		<td class="mdl-data-table__cell--non-numeric">Atlanta Hawks</td>
	</tr>
	<tr>
		<td class="mdl-color--green-200">14 (18)</td>
		<td class="mdl-data-table__cell--non-numeric">Denver Nuggets</td>
	</tr><tr>
		<td class="">15 (15)</td>
		<td class="mdl-data-table__cell--non-numeric">Chicago Bulls</td>
	</tr>
	<tr>
		<td class="mdl-color--red-200">16 (13)</td>
		<td class="mdl-data-table__cell--non-numeric">Charlotte Hornets</td>
	</tr><tr>
		<td class="mdl-color--green-200">17 (21)</td>
		<td class="mdl-data-table__cell--non-numeric">Sacramento Kings</td>
	</tr>
	<tr>
		<td class="mdl-color--green-200">18 (24)</td>
		<td class="mdl-data-table__cell--non-numeric">Miami Heat</td>
	</tr><tr>
		<td class="mdl-color--green-200">19 (20)</td>
		<td class="mdl-data-table__cell--non-numeric">Portland Trail Blazers</td>
	</tr>
	<tr>
		<td class="mdl-color--red-200">20 (17)</td>
		<td class="mdl-data-table__cell--non-numeric">Detroit Pistons</td>
	</tr><tr>
		<td class="mdl-color--red-200">21 (19)</td>
		<td class="mdl-data-table__cell--non-numeric">Philadelphia 76ers</td>
	</tr>
	<tr>
		<td class="">22 (22)</td>
		<td class="mdl-data-table__cell--non-numeric">New Orleans Pelicans</td>
	</tr><tr>
		<td class="mdl-color--green-200">23 (26)</td>
		<td class="mdl-data-table__cell--non-numeric">Dallas Mavericks</td>
	</tr>
	<tr>
		<td class="mdl-color--red-200">24 (23)</td>
		<td class="mdl-data-table__cell--non-numeric">Minnesota Timberwolves</td>
	</tr><tr>
		<td class="mdl-color--red-200">25 (16)</td>
		<td class="mdl-data-table__cell--non-numeric">Milwaukee Bucks</td>
	</tr>
	<tr>
		<td class="mdl-color--red-200">26 (25)</td>
		<td class="mdl-data-table__cell--non-numeric">New York Knicks</td>
	</tr><tr>
		<td class="">27 (27)</td>
		<td class="mdl-data-table__cell--non-numeric">Orlando Magic</td>
	</tr>
	<tr>
		<td class="">28 (28)</td>
		<td class="mdl-data-table__cell--non-numeric">Phoenix Suns</td>
	</tr><tr>
		<td class="">29 (29)</td>
		<td class="mdl-data-table__cell--non-numeric">Los Angeles Lakers</td>
	</tr>
	<tr>
		<td class="">30 (30)</td>
		<td class="mdl-data-table__cell--non-numeric">Brooklyn Nets</td>
	</tr>
	<!--{some jinja shit later}-->
	</tbody>
</table>