<div class="mdl-tooltip mdl-tooltip--large" for="GP">
Games played
</div>

<div class="mdl-tooltip mdl-tooltip--large" for="W">
Wins
</div>

<div class="mdl-tooltip mdl-tooltip--large" for="L">
Loses
</div>

<div class="mdl-tooltip mdl-tooltip--large" for="W_PCT">
Wins percentage
</div>

<div class="mdl-tooltip mdl-tooltip--large" for="PTS">
Average points scored
</div>

<div class="mdl-tooltip mdl-tooltip--large" for="FGM">
Average field goals made
</div>

<div class="mdl-tooltip mdl-tooltip--large" for="FGA">
Average field goals attempted
</div>

<div class="mdl-tooltip mdl-tooltip--large" for="FG_PCT">
Average field goals percentage
</div>

<div class="mdl-tooltip mdl-tooltip--large" for="FG3M">
Average 3-point field goals made
</div>

<div class="mdl-tooltip mdl-tooltip--large" for="FG3A">
Average 3-point field goals attempted
</div>

<div class="mdl-tooltip mdl-tooltip--large" for="FG3_PCT">
Average 3-point field goals percentage
</div>

<div class="mdl-tooltip mdl-tooltip--large" for="FTM">
Average free throws made
</div>

<div class="mdl-tooltip mdl-tooltip--large" for="FTA">
Average free throws attempted
</div>

<div class="mdl-tooltip mdl-tooltip--large" for="FT_PCT">
Average free throws percentage
</div>

<div class="mdl-tooltip mdl-tooltip--large" for="OREB">
Average offensive rebounds
</div>

<div class="mdl-tooltip mdl-tooltip--large" for="DREB">
Average defencive rebounds
</div>

<div class="mdl-tooltip mdl-tooltip--large" for="REB">
Average total rebounds
</div>

<div class="mdl-tooltip mdl-tooltip--large" for="AST">
Average assists
</div>

<div class="mdl-tooltip mdl-tooltip--large" for="TOV">
Average turnovers
</div>

<div class="mdl-tooltip mdl-tooltip--large" for="STL">
Average steals
</div>

<div class="mdl-tooltip mdl-tooltip--large" for="BLK">
Average shots blocked
</div>

<div class="mdl-tooltip mdl-tooltip--large" for="BLKA">
Average blocks recieved
</div>

<div class="mdl-tooltip mdl-tooltip--large" for="PF">
Average personal fouls
</div>

<div class="mdl-tooltip mdl-tooltip--large" for="PFD">
Average personal fouls drawn
</div>

<div class="mdl-tooltip mdl-tooltip--large" for="PLUS_MINUS">
Average point differential
</div>

<div class="mdl-tooltip mdl-tooltip--large" for="EFG_PCT">
Measures field goal percentage adjusting for the fact that a 3-point field goal is worth one more point than a 2-point field goal
</div>

<div class="mdl-tooltip mdl-tooltip--large" for="FTA_RATE">
Number of FT attempts per FG attempt
</div>

<div class="mdl-tooltip mdl-tooltip--large" for="TM_TOV_PCT">
Number of turnovers per 100 possessions used
</div>

<div class="mdl-tooltip mdl-tooltip--large" for="OREB_PCT">
The percentage of available offensive rebounds a team grabbed
</div>

<div class="mdl-tooltip mdl-tooltip--large" for="OPP_EFG_PCT">
Measures opponents field goal percentage adjusting for the fact that a 3-point field goal is worth one more point than a 2-point field goal
</div>

<div class="mdl-tooltip mdl-tooltip--large" for="OPP_FTA_RATE">
Number of opponents FT attempts per FG attempt
</div>

<div class="mdl-tooltip mdl-tooltip--large" for="OPP_TM_TOV_PCT">
Number of opponents turnovers per 100 possessions used
</div>

<div class="mdl-tooltip mdl-tooltip--large" for="OPP_OREB_PCT">
The percentage of available offensive rebounds opponents team grabbed
</div>

<div class="mdl-tooltip mdl-tooltip--large" for="OFF_RATING">
Measures a team's points scored per 100 possessions
</div>

<div class="mdl-tooltip mdl-tooltip--large" for="DEF_RATING">
Measures a team's points allowed per 100 possessions
</div>

<div class="mdl-tooltip mdl-tooltip--large" for="NET_RATING">
Measures a team's point differential per 100 possessions
</div>

<div class="mdl-tooltip mdl-tooltip--large" for="AST_PCT">
The percentage of assisted field goals
</div>

<div class="mdl-tooltip mdl-tooltip--large" for="AST_TO">
The number of assists compared to the number of turnovers have committed
</div>

<div class="mdl-tooltip mdl-tooltip--large" for="AST_RATIO">
Assist Ratio is the number of assists per 100 possessions used
</div>

<div class="mdl-tooltip mdl-tooltip--large" for="DREB_PCT">
The percentage of available defensive rebounds team grabbed
</div>

<div class="mdl-tooltip mdl-tooltip--large" for="REB_PCT">
The percentage of available total rebounds team grabbed
</div>

<div class="mdl-tooltip mdl-tooltip--large" for="TS_PCT">
Measure of shooting efficiency that takes into account field goals, 3-point field goals, and free throws
</div>

<div class="mdl-tooltip mdl-tooltip--large" for="PACE">
Number of possessions per 48 minutes for a team
</div>

<div class="mdl-tooltip mdl-tooltip--large" for="PIE">
Measures overall statistical contribution against the total statistics in games they play in
</div>
